* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --color-blue: #065e7c;
  --color-blue-soft: #387e96;
  --color-white-default: #ffffff;
  font-family: "Mulish", sans-serif;
}

#app {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: max-content 5fr 5fr max-content;
  margin: 0 auto;
}
header {
  background-color: var(--color-blue);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 1.6rem 2.8rem;
  gap: 2.5rem;
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
}

.input-wrapper input {
  width: 100%;
  padding: 1.4rem 7.2rem 1.2rem 1.2rem;
  border-radius: 0.4rem;
  border: none;
  background-color: var(--color-blue-soft);
}

.input-wrapper input::placeholder {
  color: var(--color-white-default);
  font-size: 1.6rem;
  font-weight: 500;
}
.input-wrapper label {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

main .content {
  padding: 0 2.6rem;
}

aside {
  padding: 0 2.6rem;
}

main img {
  width: 100%;
}
span {
  width: 4rem;
  height: 4rem;
  background-color: var(--color-blue-soft);
  border-radius: 50%;
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
}
svg {
  background: var(--color-blue);
  border-radius: 50%;
  align-self: center;
  padding: 1rem;
  height: 4rem;
  width: 4rem;
  margin-bottom: 3.1rem;
}
main p {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 400;
  padding: 2rem;
}
.content {
  margin: 3.4rem 0;
}

.card {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  width: 37rem;
  margin: 3.2rem 0;
}

.card img {
  height: 100%;
  width: 15rem;
}

.card h3 {
  font-size: 1.8rem;
  line-height: 1.6rem;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
  text-align: left;
}

.card:hover{
  
}

footer {
  text-align: center;
  background-color: var(--color-blue);
  color: var(--color-white-default);
  padding: 2.6rem 1.6rem;
}

footer p {
  font-size: 1.6rem;
  font-weight: 600;
}

@media (min-width: 800px) {

  #app {
    display: grid;
    grid-template-areas:
      "A  A"
      "B  C"
      "B  C"
      "F  F";
  
  }

  #app header {
    grid-area: A;
    height: 8.4rem; 
  }

  #app header .input-wrapper input{
    width: 108rem;
  }
  #app aside {
    grid-area: C;
   justify-self:left;
  }
  #app main {
    grid-area: B;
    height: 100%;
    width: 80rem;
    justify-self: right;
  }
  #app footer {
    grid-area: F;
    height: 100%;
  }

  main img {
    height: 40rem;
  }

  .labelTitulo{
    display: flex;
    justify-content: space-between;
  }
}
